html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.yoga_page_bg_container {
    background-image: url('https://assets.ccbp.in/frontend/static-website/yoga-bg.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
}

h1,
p,
button {
    overflow-wrap: break-word;
}

h1 {
    font-family: "Roboto";
}

p,
button {
    font-family: "Open Sans" !important;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 8px 8px 8px rgba(74, 58, 58, 0.2);
    transition: 0.15s ease-in-out;
    color: #ffffff;
    cursor: pointer;
    background-color: #2630c6 !important;
    filter: brightness(150%);
}

.yoga_detailed_page_bg_container {
    background-color: #ffedcb;
    min-height: 100vh;
    width: 100%;
}

.yoga_detailed_page_bg_container_cards {
    background-color: #fad693;
    min-width: 100%;
}

.yoga_detailed_page_bg_container_cards_image {
    max-width: 1500px !important;
    max-height: 150px !important;
}

.scrolling_cards {
    overflow: auto;
    max-height: 80vh !important;
}

.yoga_detailed_page_bg_container_cards:hover {
    transform: scale(1.03);
    transition: 0.15s ease-in-out;
    box-shadow: 8px 8px 8px rgba(74, 58, 58, 0.2);
}